*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
}

.section1{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 35%;
  background-color: rgb(125, 10, 197);  
  box-shadow: 0 0 12px rgb(0, 0, 0);
  z-index: 1;
  background:linear-gradient(to left , rgb(96, 20, 144) , rgb(18, 7, 96)); 
}

.section2{
  width: 65%;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  background:linear-gradient(to right , rgb(96, 20, 144) , rgb(18, 7, 96));  
}

.section2 div.output{
  position: relative;
  width: 20px;
  left: 36%;
  top: 10%;
  
}

.section1 input {
  position: relative;
  padding: 12px;
  font-size: larger;
  border-radius: 50px;
  outline: none;
  border: 1px solid rgb(4, 0, 1);
}

.section2 div > div{
  position: relative;
  padding: 12px;
  border: none;
  font-size: 400px;
  border-radius: 50px;
  margin-bottom: 50%;
  box-shadow: 0 0 4px black;
  border-left:10px solid rgb(170, 0, 255);
  font-size: larger;
  width: 100%;
  max-width: 300px;
  color: white;
}

.section2 div > span:first-of-type{
  color: yellow;
  font-size: xx-large;
  width: 200px;
  
}

.section2 div > span:nth-of-type(2){
  position: relative;
  bottom: 3px;
  left: 40px;
  color: rgb(255, 0, 0);
  font-size: larger;
}
.section1 label {
  position: absolute;
  color: beige;
  padding: 33px;
  text-shadow: 0 0 20px rgb(17, 13, 247);
  top: 30%;
  left: 50px;
  font-size: 33px;
}


.message-container{
  
  position: absolute;
  z-index: 1;
  left: 170px;
  bottom: 20%;
  background-color: rgb(255, 21, 21);
  padding: 20px;
  color: azure;
  font-size: 20px;
  border-radius: 40px;
  visibility: hidden;
  transition: transform 1s ease;
}

.success{
  visibility: visible;
  background-color: rgb(45, 195, 11);
}

.error{
  visibility: visible;
  background-color: rgb(195, 11, 11);
}

.delete{
  color:red;
  font-weight: bold;
  cursor:pointer;
}

