*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  display: flex;
  position: absolute;
  left:30% ;
  top: 40%;
  justify-content: center;
  align-items: center;
}

ul{
  display: flex ;
  border: 0px ;
  list-style: none;
}

li{
  padding: 20px ;
  font-family:sans-serif;
  font-size: 15px; 
  border-bottom: 2px solid;
  border-color: burlywood;
  margin:6px;
  border-radius: 60px;
  box-shadow: 0 0 1px 0 gray;
  cursor: pointer;
  transition: ease .5s;
} 
li:hover{
  background-color: antiquewhite;
  transition: .5s;
}
a{
  text-decoration: none;
  color: black;
}

nav{
  display: flex;
  justify-content: center;
  align-items: center;
  transition: width 0.6s linear;
  display: flex;
  border-radius: 3px;
  transition: width 0.6s linear;
}

nav.active ul {
  width: 100%;
}

nav.active ul li {
  opacity: 1;
  transform: rotateY(3560);
}

nav ul li {

  transform: rotate(0deg);
  opacity: 0;
  transition: transform 0.6s linear , opacity 0.6s linear;

}

.icon{
  background-color: aliceblue;
  border:0;
  padding: 0;
  position: relative;
  width: 30px;
  height: 30px;
  cursor: pointer;
  outline: none;
  

}

.icon .line {

  background:crimson;
  width: 20px;
  height: 2px ;
  border-radius: 3px;
  position: absolute;
  top: 10px;
  left: 5px;
  transition: transform 0.6 linear;
}

.icon .line1 {
  top: 10px;
}
.icon .line2 {
  top: auto;
  bottom: 10px;
}

nav.active .icon .line1 {
  transform: rotate(-765deg) translateY(5.5px);
}

nav.active .icon .line2 {
  transform: rotate(765deg) translateY(-5.5px);
}