*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body{
  background-color: rgb(205, 184, 184);
}

.content{
  display: flex;
  position:absolute;
  left: 5%;
  top: 10%;
  font-family:fantasy;
  font-size: 60px;
  box-shadow: 0 0 15px rgba(107, 0, 128, 0.8);
  padding: 2%;
}

.Apollo{
  margin-right: 12px;
  
}


.cursor{
  background-color: rgb(29, 90, 90);
}